/* position property
.box {
    height: 650px;
    width: 100%;
    position: relative;

}
.bg-wrapper {
    left: 150px;
    top: 200px;
    position: absolute;

}
.cover{
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.51);
   


}
.button {
    width: 100px;
    border-radius: 25px;
    padding: 10px;
    background: red;
} */
.bg-image {
    background-image: url(../image/Human_eye_pillars.jpg);
    height: 450px;
    width: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-wrapper {
    padding-top: 100px;
}