/* position property
.box {
    height: 650px;
    width: 100%;
    position: relative;

}
.bg-wrapper {
    left: 150px;
    top: 200px;
    position: absolute;

}
.cover{
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.51);
   


}
.button {
    width: 100px;
    border-radius: 25px;
    padding: 10px;
    background: red;
} */
.bg-image {
    background-image: url(../image/Human_eye_pillars.jpg);
    height: 450px;
    width: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-wrapper {
    padding-top: 100px;
}
.h51 {
    color: white;
    font-size: 40px;
    display: inline-block;
    transition-property: all;
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    

}
.h51:hover{
    color: red;
    
}
.animation-block{
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    animation-name: cube ;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
   

}

@keyframes cube {
    0% {top: 0; background-color: red;}
    50%{ top: 100px; background-color: yellow; }
    100% {top: 200px; background-color: green;}
}